body{
    color: #0F8592;
    margin: 0;
}

header{
    background-color: #044254;
}

.Logo{
    background-color: #044254;
    width: 100px;
    height: 100px;
}

body h1{
    color: white;
}

.nav-items{
    background-color: #7DA7B0;
    text-decoration: none;
}