/*the styling for the header is below, this is the first component of my portfolio*/
header {
  background-color: #044254;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  flex-shrink: 0;
  /*the styling for the logo is below, this is the second component of my portfolio*/
}
header .logo {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-items {
  background-color: #7da7b0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*The below hover component is for the navigation colours to change to a darker sandy colour*/
}
.nav-items a {
  text-decoration: none;
  font-size: 20px;
  color: #044254;
}
.nav-items a:hover {
  color: #FCE0C1;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: #0f8592;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  margin: 10px;
  padding: 40px;
  height: 80%;
  text-align: center;
  letter-spacing: 0.2mm;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  align-items: center;
}

.about-me {
  text-align: center;
  text-decoration: none;
  /*The below hover component changes the box colour to a darker sandy colour when hovered over*/
}
.about-me p {
  padding-bottom: 10px;
}
.about-me a {
  padding: 16px 32px;
  background-color: #FCE0C1;
  color: #032231;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.about-me a:hover {
  background-color: #FAB588;
}

.blog {
  margin: 5px;
  border: 20px;
  padding: 5px;
}

/*the styling for the blog cards is below, this is the third component of my portfolio*/
.blog-cards {
  margin: 10px;
  padding: 10px;
  background-color: #FAB588;
  display: inline-flex;
}
.blog-cards img {
  padding: 100px 10px 100px 10px;
  background-color: #FCE0C1;
  width: 150px;
  flex-direction: column;
  align-items: left;
}
.blog-cards .my-pets {
  padding: 10px 10px 10px 10px;
  background-color: #FCE0C1;
  width: 150px;
  flex-direction: column;
  align-items: left;
}
.blog-cards .blog-text {
  padding: 7px;
  background-color: #FCE0C1;
  color: #032231;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  align-items: right;
}

form {
  border: solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label, input {
  margin-top: 10px;
  background-color: #FCE0C1;
}

#Message {
  height: 200px;
  align-items: center;
  text-align: start;
}

button {
  margin-top: 20px;
  border-radius: 5px;
}

/*The below hover component changes the button colour to a darker sandy colour when hovered over*/
button:hover {
  background-color: #FAB588;
  color: #032231;
}

/*the styling for the footer is below, this is the fourth component of my portfolio*/
.footer {
  background-color: #032231;
  height: 150px;
  width: 100%;
  flex-shrink: 0;
}

.footer-contents {
  margin: auto;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 2mm;
}
.footer-contents p {
  flex-wrap: wrap;
}

/*Below are media queries for multiple viewports*/
/*Phones 601px and smaller*/
/*Tablets and phones which are 599px and larger*/
/*Tablets that are 767px and larger*/
/*Desktops and laptops that are 991px and larger*/
/*Desktops and laptops that are 1199px and larger*//*# sourceMappingURL=style.css.map */